<!doctype html>
<html>
<head>
<div id="menu"; style = "width: 1350px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: right;
    background-color: #2E2E2E;
    border-radius: 8px;">
			<ul style= "height: auto;padding: 8px 0px;margin: 0px;">
				<li style = "display:inline;padding: 20px"><a href="home"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Home</a></li>
				<li style = "display:inline;padding: 20px"><a href="aboutus"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >About Us</a></li>
				<li style = "display:inline;padding: 20px"><a href="services"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Services</a></li>
				<li style = "display:inline;padding: 20px"><a href="contactus"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Contact Us</a></li>
			</ul>
		</div>
<!--<img src="../public/images/aboutUs.png" width="784" height="548" ; style="position:absolute;left:300px;top:50px">-->
<img src="../public/images/BudgetLiveLogo.jpeg" width="584" height="143" ; style="position:absolute;left:410px;top:170px">
<div style= "position: absolute; top: 130px; left: 425px;font-family: Blue Highway; font-size: 55px;">About us</div>
<div style= "position: absolute; top: 290px; left:425px;font-family: Blue Highway; font-size: 30px;">
Budget Live is all about making life easy with spending <br>
and maintaining a budget. There is no hassle with banks <br>
or credit cards. This is all you, all simple, and all safe!<br>
You may consider this your personal budget<br>
calculator. We will show you all the stats about your<br>
account with descriptive charts and diagrams. It's<br>
free and easy to join. If you have someone in mind that<br>
you would like to share your budget with, link'em!<br>
It's that easy!
 </div>
</head>
</html>