<!DOCTYPE html>

<html>
	<head>
	<title>Budget Overview</title>
	<link rel='stylesheet' type='text/css' href='../public/stylesheets/userInfo.css'/>
    <link class="include" rel="stylesheet" type="text/css" href="../public/jquery/jquery.jqplot.min.css" />
    <link rel="stylesheet" href="../public/stylesheets/jquery.sidr.dark.css">
	<script class="include" type="text/javascript" src="../public/jquery/jquery.min.js"></script>
    <script type='text/javascript' src='../public/javascripts/budgetOverview.js'></script>
	<script src="../public/jquery.jpanelmenu.min.js" type="text/javascript"></script>
	<script type="text/javascript"></script>
	</head>
	<body>
	<img src="../public/images/BudgetLiveLogo-inverse.jpeg" width="155" height="30" ; style="position:absolute;left:10px;top:10px">
	<div id="menu">
		<ul>
			<script type="text/javascript">
				function getOverviewUrl()
				{
					createFormAndSubmit(window.location.search, "user");
					//return 'user' + window.location.search;
				}
			</script>
			<li><a href="javascript:getOverviewUrl();">Budget</a></li>
			
			<script type="text/javascript">
				function getInfoUrl()
				{
					createFormAndSubmit(window.location.search, "userInfo");
					//return 'userInfo' + window.location.search;
				}
			</script>
			<li><a href="javascript:getInfoUrl();">Info</a></li>
			
			<li><a href="home">Logout</a></li>	
		</ul>
	</div>
	
	<div id="containerChart0" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	<div id="containerChart1" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	<div id="containerChart2" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	<div id="containerChart3" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	<div id="containerChart4" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	<div id="containerChart5" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	<div id="containerChart6" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	<div id="containerChart7" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	<div id="containerChart8" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	<div id="containerChart9" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	<div id="containerChart10" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	<div id="containerChart11" style="float: left; width: 400px; height: 200px; margin: 0 auto"></div>
	
	<!-- scripts -->
	<script class="include" type="text/javascript" src='../public/jquery/jquery.jqplot.min.js'></script>
	<script class="include" type="text/javascript" src="../public/plugins/jqplot.pieRenderer.min.js"></script>
	<script src="../public/plugins/jquery.sidr.min.js"></script>
	<script src="../public/plugins/highcharts.js"></script>
	<script src="../public/plugins/exporting.js"></script>
	<script src="../public/plugins/jquery.sidr.min.js"></script>
	<script>
	//helper function to create the form
	 function getNewSubmitForm(){
		 var submitForm = document.createElement("FORM");
		 document.body.appendChild(submitForm);
		 submitForm.method = "POST";
		 return submitForm;
	 }

	 //helper function to add elements to the form
	 function createNewFormElement(inputForm, inputType, elementName, elementValue) {
		 var inputElement = document.createElement("INPUT");
		 inputElement.name = elementName;
		 inputElement.type = inputType;
		 try {
			inputElement.value = elementValue;
		 } catch(err) {
			alert(err.description);
		 }
		 inputForm.appendChild(inputElement);
		 return inputElement;
	 }

	 //function that creates the form, adds some elements
	 //and then submits it
	 function createFormAndSubmit(username, action){
		 var submitForm = getNewSubmitForm();
		 createNewFormElement(submitForm, "HIDDEN", "loggedIn", true);
		 submitForm.action= action + username;
		 submitForm.submit();
	 }
	 </script>
	</body>
</html>
