<!doctype html>
<html>
<head>
<div id="menu"; style = "width: 1350px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: right;
    background-color: #2E2E2E;
    border-radius: 8px;">
			<ul style= "height: auto;padding: 8px 0px;margin: 0px;">
				<li style = "display:inline;padding: 20px"><a href="home"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Home</a></li>
				<li style = "display:inline;padding: 20px"><a href="aboutus"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >About Us</a></li>
				<li style = "display:inline;padding: 20px"><a href="services"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Services</a></li>
				<li style = "display:inline;padding: 20px"><a href="contactus"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Contact Us</a></li>
			</ul>
		</div>
<img src="../public/images/contactUs.png" width="784" height="548" ; style="position:absolute;left:300px;top:50px">
</head>
</html>