<!doctype html>
<html>
<head>
<div id="menu"; style = "width: 1350px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: right;
    background-color: #2E2E2E;
    border-radius: 8px;">
			<ul style= "height: auto;padding: 8px 0px;margin: 0px;">
				<li style = "display:inline;padding: 20px"><a href="home"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Home</a></li>
				<li style = "display:inline;padding: 20px"><a href="aboutus"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >About Us</a></li>
				<li style = "display:inline;padding: 20px"><a href="services"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Terms and Services</a></li>
				<li style = "display:inline;padding: 20px"><a href="contactus"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Contact Us</a></li>
			</ul>
		</div>

<center><div style= "white-space: nowrap; position: relative; text-align:center; font-family: Blue Highway; font-size: 55px;">Contact Us</div></center>
<center><img src="../public/images/BudgetLiveLogo_new.jpg" width="584" height="130" ; style="white-space: nowrap;position:relative"></center>
<div style= "white-space: wrap; margin-left:auto; margin-right:auto; text-align:justify; width: 600px; position: relative; font-family: Blue Highway; font-size: 20px;">
Feel Free to Contact us at budgetlive@gmail.com.
Leave as many comments as you like. We love hearing back from our
members, so we can help make BudgetLive a better experience for you.
</div>
</head>
</html>

