<!DOCTYPE html>
<html>
	<head>
		<title>Creating Budget</title>
        <link rel='stylesheet' type='text/css' href='../public/stylesheets/createBudget.css'/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
        <script type='text/javascript' src='../public/javascripts/createBudget.js'></script>
		
		<link class="include" rel="stylesheet" type="text/css" href="../public/jquery/jquery.jqplot.min.css" />
	</head>
	<body>
		<div id="menu">
			<ul>
				<li><a href="home">Home</a></li>
				<li><a href="aboutus">About Us</a></li>
				<li><a href="services">Services</a></li>
				<li><a href="contactus">Contact Us</a></li>
			</ul>
		</div>
			<img id = "currentImage" src="../public/images/ready.png" width="569" height="318" ; style="position:absolute;left:270px;top:170px">
		<div>
			<button id="ready"; style="position:absolute;left:810px;top:290px">Ready
			</button>
		</div>
		
	<script class="include" type="text/javascript" src='../public/jquery/jquery.jqplot.min.js'></script>
	<script class="include" type="text/javascript" src="../public/plugins/jqplot.pieRenderer.min.js"></script>
	<script src="../public/plugins/jquery.sidr.min.js"></script>
	<script src="../public/plugins/highcharts.js"></script>
	</body>
</html>
