<!DOCTYPE html>
<html>
	<head>
		<title>Creating Budget</title>
        <link rel='stylesheet' type='text/css' href='../public/stylesheets/createBudget.css'/>
		<script class="include" type="text/javascript" src="../public/jquery/jquery.min.js"></script>
        <script type='text/javascript' src='../public/javascripts/createBudget.js'></script>
		
		<link class="include" rel="stylesheet" type="text/css" href="../public/jquery/jquery.jqplot.min.css" />
	</head>
	<body>
		<div id="menu">
			<ul>
				<li><a href="home">Home</a></li>
				<li><a href="aboutus">About Us</a></li>
				<li><a href="services">Services</a></li>
				<li><a href="contactus">Contact Us</a></li>
			</ul>
		</div>
		
		<div class= "words"; style= "white-space: nowrap; position: absolute;top: 235px; left: 360px; color: #017890;font-size: 30px;font-family: V, Sans-Serif;">
		<strong>WE NEED TO FIGURE OUT</strong></div>
		<div class= "words"; style= "white-space: nowrap;position: relative; top: 190px;left: 350px;font-family: Verdana, Arial, Sans-Serif;font-size: 25px;">HOW YOU WANT YOUR BUDGET
		<button id="ready"; style="position:relative;left: 50px;top: 10px">Ready</button></div>
		<div class= "words"; style= "white-space: nowrap;position: relative;top: 150px; left: 350px; color: #FFBF00; font-family: Verdana, Arial, Sans-Serif;font-size: 35px;"><strong>TO BE SET UP!</strong></div>
		<div class= "words"; style= "white-space: nowrap;position: relative; top: 150px;left: 350px;font-family: Verdana, Arial, Sans-Serif;font-size: 20px;">Click the Button when you are READY!</div>
		
			<!--<img id = "currentImage" src="../public/images/ready.png" width="569" height="318" ; style="position:absolute;left:270px;top:170px">
		-->
		<div>
			
		</div>
		
	<script class="include" type="text/javascript" src='../public/jquery/jquery.jqplot.min.js'></script>
	<script class="include" type="text/javascript" src="../public/plugins/jqplot.pieRenderer.min.js"></script>
	<script src="../public/plugins/jquery.sidr.min.js"></script>
	<script src="../public/plugins/highcharts.js"></script>
	</body>
</html>
