<!DOCTYPE html>
<html>
	<head>
		<title>Budget Live</title> 
        <link rel='stylesheet' type='text/css' href='../public/stylesheets/home.css'/>
        <script class="include" type="text/javascript" src="../public/jquery/jquery.min.js"></script>
        <script type='text/javascript' src='../public/javascripts/home.js'></script>
	</head>
	<body>
		<div id="menu">
			<ul>
				<li><a href="home">Home</a></li>
				<li><a href="aboutus">About Us</a></li>
				<li><a href="services">Services</a></li>
				<li><a href="contactus">Contact Us</a></li>
			</ul>
		</div>
			<img src="../public/images/BudgetLiveLogo_Christmas.jpg" width="598" height="145" ; style="position:absolute;left:360px;top:155px">
			<img src="../public/images/plant.png" width="262" height="200"; style="position:absolute;left:885px;top:150px">
		<div> 
			<button id="loginButton"; style="position:absolute;left:440px;top:325px">Login</button>
		</div>
		<div>
			<button id="startButton"; style="position:absolute;left:620px;top:325px">
			<a>Start</a>
			</button>
		</div>
		<div>
			<button id="linkUpButton" ; style="position:absolute;left:800px;top:325px">
			<a>Link up</a>
			</button>
		</div>
		
	</body>
</html>
