<!DOCTYPE html>
<html>
	<head>
		<title>Link to a Budget</title>
        <link rel='stylesheet' type='text/css' href='../public/stylesheets/linkUp.css'/>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
        <script type='text/javascript' src='../public/javascripts/linkUp.js'></script>
	</head>
	<body>
		<div id="menu">
			<ul>
				<li><a href="home">Home</a></li>
				<li><a href="aboutus">About Us</a></li>
				<li><a href="services">Services</a></li>
				<li><a href="contactus">Contact Us</a></li>
			</ul>
		</div>
		<linkRegistration></linkRegistration>
		<form id="signUp">Primary Owner's E-mail<br><input type="text" id="owners_email" required="required"/><br><br><br>
		E-mail<br><input type="text" id="user_email" required="required"/><br><br><br>
		First Name<br><input type="text" id="first_name" required="required"/><br><br><br>
		Username<br><input type="text" id="username" required="required"/><br><br><br>
		Password<br><input type="password" id="password" required="required"/><br><br><br>
		Confirm Password<br><input type="password" id="confirm_password" required="required"/><br><br><br>
		Link Code<br><input type="password" id="link_code" required="required"/><br><br><br>
		<input type="submit" value="Sign Up" id="signUpButton" required="required"/>
		</form>
		
		<script>
		$("#signUpButton").on('click', function(e) {
			
			if(document.getElementById('owners_email').checkValidity() && document.getElementById('user_email').checkValidity()
			   && document.getElementById('first_name').checkValidity() && document.getElementById('username').checkValidity() 
			   && document.getElementById('password').checkValidity() && document.getElementById('confirm_password').checkValidity()
			   && document.getElementById('link_code').checkValidity())
			{
				e.preventDefault();
				if(document.getElementById("password").value === document.getElementById("confirm_password").value)
				{
					var user = new Object();
					user.owners_email = document.getElementById("owners_email").value;
					user.email = document.getElementById("user_email").value;
					user.name = document.getElementById("first_name").value;
					user.username = document.getElementById("username").value;
					user.password = document.getElementById("password").value;
					user.link_code = document.getElementById("link_code").value;
					
					$.ajax({
						url: '/validateUniqueUser',
						type: 'POST',
						data: user,
						dataType: "json",
						success: function(data){
							if(data)
							{
								$.ajax({
									url: '/validateOwnerAccount',
									type: 'POST',
									data: user,
									dataType: "json",
									success: function(data){
										if(data)
										{	
											window.location.href = "user?" + user.username;
										}
										else
										{
											alert('The budget you would like to connect to does not exists or your link code is incorrect.');
										}
									},
									error: function() {
										alert('An error occured while validating the owner\'s credentials.');
									}
								});
							}
							else
							{
								alert('A budget with your username and email already exist.');
							}
						},
						error: function(data) {
							alert('An error occured while validating your credentials.');
						}
					});
				}
				else
				{
					alert('Your password and confirmed password don\'t match');
				}
			}
		});
		</script>
		
		<img src="../public/images/BudgetLiveLogo_new.jpg" width="598" height="145" ; style="position:absolute;left:140px;top:350px">
		<div class= 'words'; style= 'white-space: nowrap;position: absolute;top: 150px; left: 190px; color: #017890;font-size: 50px;font-family:Verdana,sans-serif;'>
		<strong>Ready to Link up!</strong></div>
		<div class= 'words'; style= 'white-space: nowrap;position: relative;top: 180px; left: 185px;font-family: Verdana,sans-serif;font-size: 30px;'>Tell us a little about yourself,</div>
		<div class= 'words'; style= 'white-space: nowrap;position: relative;top: 185px; left: 185px; color: #FFBF00; font-family: Verdana,sans-serif;font-size: 40px;'>Enter the Link code</div>
		<div class= 'words'; style= 'white-space: nowrap;position: relative;top: 190px; left: 185px;font-family: Verdana,sans-serif;font-size: 30px;'>AND YOU'RE DONE! </div>
		<div class= 'words'; style= 'white-space: nowrap;position: relative;top: 193px; left: 185px;font-family:Verdana,sans-serif;font-size: 20px;'>It's so easy, you'll love it!</div>	

	</body>
</html>
