<!DOCTYPE html>
<html>
	<head>
		<title>Link to a Budget</title>
        <link rel='stylesheet' type='text/css' href='../public/stylesheets/linkUp.css'/>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
        <script type='text/javascript' src='../public/javascripts/linkUp.js'></script>
	</head>
	<body>
		<div id="menu">
			<ul>
				<li><a href="home">Home</a></li>
				<li><a href="aboutus">About Us</a></li>
				<li><a href="services">Services</a></li>
				<li><a href="contactus">Contact Us</a></li>
			</ul>
		</div>
		<linkRegistration></linkRegistration>
		<form>Primary Owner's E-mail<br><input type="text" placeholder="E-mail"/><br><br><br>
		E-mail<br><input type="text" placeholder="E-mail"/><br><br><br>
		First Name<br><input type="text" placeholder="First Name"/><br><br><br>
		Username<br><input type="text" placeholder="Username\"/><br><br><br>
		Password<br><input type="password" placeholder="Password"/><br><br><br>
		Confirm Password<br><input type="password" placeholder="Password"/></form>
		<button id = "signUpButton">Sign Up</button>
		<img id = "currentImage" src="../public/images/linkMessage.png" width="529" height="548" ; style="position:absolute;left:270px;top:100px">
		
	</body>
</html>
