<!doctype html>
<html>
<head>
<div id="menu"; style = "width: 1350px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: right;
    background-color: #2E2E2E;
    border-radius: 8px;">
			<ul style= "height: auto;padding: 8px 0px;margin: 0px;">
				<li style = "display:inline;padding: 20px"><a href="home"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Home</a></li>
				<li style = "display:inline;padding: 20px"><a href="aboutus"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >About Us</a></li>
				<li style = "display:inline;padding: 20px"><a href="services"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Terms and Services</a></li>
				<li style = "display:inline;padding: 20px"><a href="contactus"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Contact Us</a></li>
			</ul>
		</div>

<center><div style= "white-space: nowrap; position: relative; text-align:center; font-family: Blue Highway; font-size: 55px;">Terms and Services</div></center>
<center><img src="../public/images/BudgetLiveLogo.jpeg" width="584" height="130" ; style="white-space: nowrap;position:relative"></center>
<div style= "white-space: wrap; margin-left:auto; margin-right:auto; text-align:justify; width: 600px; position: relative; font-family: Blue Highway; font-size: 20px;">
<h3>Please read the following terms and services carefully.  When your use our website
you acknowledge that you have read, understood, and agree to be bound by these terms and policies.</h3>

<h1>Services:</h1>
BudgetLive will guide you in building your personalize budget. We 
manage you budget on a time frame that you chose between two weeks
and one month. A total amount for the time frame will be divided into
personalized categories, where you  can choose how to divide your
money. For each category you can easily log how much you spent. 
You can view how much you spent in your overall budget and how much
you spent in each category. We allow you to link another person into
your budget. You can view how much spent as well what they spent specifically. 
You can see all the numbers and graphs whenever you want.It's so easy
to manage, use, and become addicted to. 
</div>

<div style= "white-space: wrap; margin-left:auto; margin-right:auto; text-align:justify; width: 600px; position: relative; font-family: Blue Highway; font-size: 20px;">
<h1>Terms:</h1>
This website that your are visiting, budgetlive.org, is a student project built for an internet
programming class at Brigham Young University.  As such you will be using this site at your own risk.

<h3>Illegal or Abusive Usage is Strictly Prohibited:</h3> You must not abuse, harass, threaten, impersonate or
intimidate other users of our website.  You may not use budgetlive.org for any illegal or unauthorized purpose.
International users agree to comply with all local laws regarding on-line conduct and acceptable content.
Should you be found to have engaged in illegal or abusive usage of our website, budgetlive.org will suspend your
account or usage as applicable.

<h3>Electronic Communication:</h3> When you visit our website or send e-mail to us, you are communicating with us electronically.
You consent to receive communications from us electronically.  We will communicate with you by e-mail or by posting notices on
agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal
requirement that such communication be in writing.
 
<h3>License and Site Access:</h3> budgetlive.org grants you a limited access to this site to create and maintain personal budgets.

<h3>Security:</h3> We will not give your information to anyone and have done our best to implement security protocols.

</div>
</head>
</html>

