<!doctype html>
<html>
<head>
<div id="menu"; style = "width: 1350px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: right;
    background-color: #2E2E2E;
    border-radius: 8px;">
			<ul style= "height: auto;padding: 8px 0px;margin: 0px;">
				<li style = "display:inline;padding: 20px"><a href="home"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Home</a></li>
				<li style = "display:inline;padding: 20px"><a href="aboutus"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >About Us</a></li>
				<li style = "display:inline;padding: 20px"><a href="services"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Services</a></li>
				<li style = "display:inline;padding: 20px"><a href="contactus"; style = "text-decoration: none;color: #EFEFFB;padding: 8px 8px 8px 8px;" >Contact Us</a></li>
			</ul>
		</div>
<img src="../public/images/BudgetLiveLogo.jpeg" width="584" height="143" ; style="white-space: nowrap;position:absolute;left:410px;top:170px">
<div style= "white-space: nowrap;position: absolute; top: 130px; left: 425px;font-family: Blue Highway; font-size: 55px;">Services</div>
<div style= "white-space: nowrap;position: absolute; top: 290px; left:425px;font-family: Blue Highway; font-size: 27px;">
BudgetLive will guide you in building your personalize<br> budget. We 
manage you budget on a time frame <br>that you chose between two weeks
and one month.<br> A total amount for the time frame will be divided into<br>
personalized categories, where you  can choose how <br>to divide your
money. For each category you can <br>easily log how much you spent. 
You can view how much <br>you spent in your overall budget and how much
you <br>spent in each category. We allow you to link another<br> person into
your budget. You can view how much spent<br> as well what they spent specifically. 
You can see all the <br>numbers and graphs whenever you want.It's so easy
<br>to manage, use, and become addicted to. 
 </div>
 </head>
</html>