
<!DOCTYPE html>

<html>
	<head>
	<title>User Infomation</title>
	<link rel='stylesheet' type='text/css' href='../public/stylesheets/userInfo.css'/>
    <script type='text/javascript' src='../public/javascripts/userInfo.js'></script>
	</head>
	<body>
	<img src="../public/images/BudgetLiveLogo.jpeg" width="200" height="43" ; style="position:absolute;left:20px;top:50px">
	<div id="menu">
		<ul>
			<li><a href="user">Budget Overview</a></li>
			<li><a href="home">Logout</a></li>
		</ul>
	</div>
	<!--<div id="backDrop"></div>-->
	<!--<div id="left-menu" href="#left-menu">Left Menu</div>-->
	<h1 style = "font-family: Verdana, Arial, Sans-Serif;"><center>User Information</h1>

	</body>
</html>
