
<!DOCTYPE html>

<html>
	<head>
	<title>User Profile</title>
	<link rel='stylesheet' type='text/css' href='../public/stylesheets/user.css'/>
    <link class="include" rel="stylesheet" type="text/css" href="../public/jquery/jquery.jqplot.min.css" />
	<link rel="stylesheet" href="../public/stylesheets/jquery.sidr.dark.css">
    <script class="include" type="text/javascript" src="../public/jquery/jquery.min.js"></script>
    <script type='text/javascript' src='../public/javascripts/user.js'></script>
	<script src="../public/jquery.jpanelmenu.min.js" type="text/javascript"></script>
	<script type="text/javascript"></script>
	</head>
	<body>
	<img src="../public/images/BudgetLiveLogo-inverse.jpeg" width="155" height="30" ; style="position:absolute;left:10px;top:10px">
	<div id="menu">
		<ul>
			<script type="text/javascript">
				function getInfoUrl()
				{
					return 'userInfo' + window.location.search;
				}
			</script>
			<li><a href="javascript:document.location.href=getInfoUrl();">Info</a></li>
			<li><a href="home">Logout</a></li>	
		</ul>
	</div>
	<!--<div id="left-menu" href="#left-menu">Left Menu</div>-->
	<h1 style = "position: center; white-space: nowrap;font-family: 'Franklin Gothic Book',Arial,sans-serif;"> <center>Overall Budget </h1>
	<input id="spent" type="text" placeholder="Enter Amount"/>
	<button id = "addSpent">add</button>
	<div id="pieChart" style="width: 480px; height: 480px; position:absolute; left: 80px; top: 150px"></div>
	<div id="barChart" style="width: 650px; height: 210px; position:absolute; left: 600px; top: 160px;"></div>
	<div id="SpendingOverTime"style="width: 650px; height: 190px; position:absolute; left: 600px; top: 410px;"></div>
	
	<!--<ul id="extra-data"></ul>-->
	
	<!-- scripts -->
	<script class="include" type="text/javascript" src='../public/jquery/jquery.jqplot.min.js'></script>
	<script class="include" type="text/javascript" src="../public/plugins/jqplot.pieRenderer.min.js"></script>
	<script src="../public/plugins/jquery.sidr.min.js"></script>
	<script src="../public/plugins/highcharts.js"></script>
	<script src="../public/plugins/exporting.js"></script>
	<script src="../public/plugins/jquery.sidr.min.js"></script>
	</body>
</html>
