
<!DOCTYPE html>

<html>
<head>
	<title>User Profile</title>
	<link rel='stylesheet' type='text/css' href='../public/stylesheets/user.css'/>
    <link class="include" rel="stylesheet" type="text/css" href="../node_modules/jquery/jquery.jqplot.min.css" />
    <script class="include" type="text/javascript" src="../node_modules/jquery/jquery.min.js"></script>
    <script type='text/javascript' src='../public/javascripts/user.js'></script>
</head>
<body>
	<div id="menu">
		<ul>
			<li><a href="home">Logout</a></li>
		</ul>
	</div>
	<div id="categories" style="top:50px;left:800px; width:350px; height:600px;"></div>
	<script class="include" type="text/javascript" src="../node_modules/jquery/jquery.jqplot.min.js"></script>
	<script class="include" type="text/javascript" src="../node_modules/plugins/jqplot.pieRenderer.min.js"></script>
</body>
</html>
