
<!DOCTYPE html>

<html>
<head>
	<title>User Profile</title>
	<link rel='stylesheet' type='text/css' href='../public/stylesheets/user.css'/>
    <link class="include" rel="stylesheet" type="text/css" href="../node_modules/jquery/jquery.jqplot.min.css" />
    <script class="include" type="text/javascript" src="../node_modules/jquery/jquery.min.js"></script>
    <script type='text/javascript' src='../public/javascripts/user.js'></script>
</head>
<body>
	<div id="menu">
		<ul>
			<li><a href="home">Logout</a></li>
		</ul>
	</div>

	<script class="include" type="text/javascript" src="../node_modules/jquery/jquery.jqplot.min.js"></script>
	<script class="include" type="text/javascript" src="../node_modules/plugins/jqplot.pieRenderer.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>

	<div id="container" style="width: 400px; height: 400px; position:absolute; left: 850px; top: 150px"></div>
	<div id="bar" style="width: 500px; height: 200px; position:absolute; left: 250px; top: 400px;"></div>
	<div id="SpendingOverTime"style="width: 500px; height: 200px; position:absolute; left: 250px; top: 100px;"></div>
	<!--<ul id="extra-data"></ul>-->
	</body>
</html>
