
button
{
	background: #8258FA;
	height: 120px;
    width: 120px;
    border-radius: 100%;
    display: inline-block;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
}

category
{
    height:100px;
    width:100px;
	border-radius: 100%;
    display: inline-block;
	background-color: #000;
    color: #FFFFFF;
	opacity: 0.75;
	font-family: Verdana, Arial, Sans-Serif;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

registration
{
	background:#E6E6E6;
	width: 300px;
	position: absolute;
	height: 500px;
	left: 820px;
	top: 75px;
	opacity: .85;
}

input
{
	height:30px;
	width: 180px;
	font-size:17px;
	position:absolute;
}

form
{
	position:absolute;
	left:880px;
	top: 130px;
	font-family: Verdana, Arial, Sans-Serif;
	color: #000;
	font-size: 15px;
	
}

.words
{
}

#pieChart
{
	width: 500px; 
	height: 500px;
	position:absolute; 
	left: 180px; 
	top: 140px;
}
#additionalInfo
{
	color: #000;
	font-family: Verdana, Arial, Sans-Serif;
	left:1px;
	font-size: 20px;
}

#signUpButton 
{
	background-color: #FFBF00;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	font-family: Veranda, Arial, Sans-Serif;
	font-size: 17px;
}

#currentImage{}



#catagorySelection
{
	position: absolute;
	left:760px;
	top:310px;
    margin: -10px 0 0 -8px;
    height: 175px;
    width: 230px;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(254,252,234,1)), color-stop(0%,rgba(241,218,54,1)));
    color: #FFFFFF;
	opacity: 0.75;
    font-family: Verdana, Arial, Sans-Serif;
    display:none;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
}

#addAmountToCategory
{
	position:absolute;
	left:1075px;
	top:300px;
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
	height: 50px;
	width: 50px;
	line-height: 50px;
    font-size: 15px;
}



#categoryAmount
{
	position: absolute;
	left:860px;
	top:310px;
    margin: -10px 0 0 -8px;
    height: 130px;
    width: 230px;
    background-color: #000000;
    color: #FFFFFF;
	opacity: 0.75;
    font-family: Verdana, Arial, Sans-Serif;
    display:none;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
}


#next
{
	position:absolute;
	left:1200px;
	top:520px;
	background: #FFBF00;
    color: #FFFFFF;
	opacity: 0.95;
}

#categoryTextBox
{
	height:30px;
	width: 180px;
	font-size:20px;
	position:absolute;
	left:770px;
	top:360px;
}
#categoryChoice
{
	height:30px;
	width: 180px;
	font-size:20px;
	position:absolute;
	left:770px;
	top:310px;
}

#amountLeft
{
	position: absolute;
	left:705px;
	top:100px;
	font-family: Veranda, Arial, Sans-Serif;
	font-size: 50px;
	
}

#addCategory
{
	background-color: #FFBF00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;
	color: #FFFFFF;
	font-family: Veranda, Arial, Sans-Serif;
	font-size: 17px;
	left:770px;
	top:410px;
}

#budgetTotal
{
	height:30px;
	width: 220px;
	font-size:20px;
	position:absolute;
	left:690px;
	top:357px;
}

#enterAmount
{
	background: #FFBF00;
	position:absolute;
	left:1200px;
	top:520px;
}

#ready
{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
}

#twoWeek
{
	background: #FFBF00;
	left:800px;
	top:190px;
	position:absolute;
}

#oneMonth
{
	position:absolute;
	left:800px;
	top:370px;
	background: #FFBF00;
}

#menu ul
{
	height: auto;
    padding: 8px 0px;
    margin: 0px;

}

#menu li
{
	display:inline;
	padding: 20px
}

#menu a 
{
    text-decoration: none;
    color: #EFEFFB;
    padding: 8px 8px 8px 8px;
}

#menu 
{
    width: 1350px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: right;
    background-color: #2E2E2E;
    border-radius: 8px;
}


