.error {
height: 15px;
background-color: #FFFE36;
font-size: 11px;
border: 1px solid #E1E16D;
padding: 4px 10px;
color: #000;
display: none;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius-bottomleft: 0;
-moz-border-radius-topleft: 0;
-webkit-border-bottom-left-radius: 0;
-webkit-border-top-left-radius: 0;
-moz-box-shadow: 0 0 6px #ddd;
-webkit-box-shadow: 0 0 6px #ddd;
}

button
{
	background: #8258FA;
	height: 120px;
    width: 120px;
    border-radius: 100%;
    display: inline-block;
    color: #FFFFFF;
   font-family: Arial,sans-serif;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
}

category
{
    height:100px;
    width:100px;
	border-radius: 100%;
    display: inline-block;
	background-color: #000;
    color: #FFFFFF;
	opacity: 0.75;
	font-family: Verdana, Arial, Sans-Serif;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

registration
{
	background:#E6E6E6;
	width: 260px;
	position: absolute;
	height: 500px;
	left: 840px;
	top: 85px;
	opacity: .85;
}

input
{
	height:30px;
	width: 180px;
	font-size:17px;
	position:absolute;
}

form
{
	position:absolute;
	left:880px;
	top: 130px;
	font-family: Verdana, Arial, Sans-Serif;
	color: #000;
	font-size: 15px;
	
}

.words
{
}
#backgroundTotal
{
	background:#E6E6E6;
	width: 495px;
	position: absolute;
	height: 100px;
	left: 500px;
	top: 350px;
	opacity: .85;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
}
#pieChart
{
	width: 500px; 
	height: 500px;
	position:absolute; 
	left: 180px; 
	top: 140px;
}
#additionalInfo
{
	color: #000;
	font-family: Verdana, Arial, Sans-Serif;
	left:1px;
	font-size: 20px;
}

#signUpButton 
{
	background-color: #FFBF00;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	color: #FFFFFF;
	font-family: Veranda, Arial, Sans-Serif;
	font-size: 17px;
}

#currentImage{}



#catagorySelection
{
	position: absolute;
	left:760px;
	top:310px;
    margin: -10px 0 0 -8px;
    height: 175px;
    width: 230px;
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(254,252,234,1)), color-stop(0%,rgba(241,218,54,1)));
    color: #FFFFFF;
	opacity: 0.75;
    font-family: Verdana, Arial, Sans-Serif;
    display:none;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
}

#addAmountToCategory
{
	position:absolute;
	left:1075px;
	top:300px;
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1)));
	height: 50px;
	width: 50px;
	line-height: 50px;
    font-size: 15px;
}



#categoryAmount
{
	position: absolute;
	left:860px;
	top:310px;
    margin: -10px 0 0 -8px;
    height: 130px;
    width: 230px;
    background-color: #000000;
    color: #FFFFFF;
	opacity: 0.75;
    font-family: Verdana, Arial, Sans-Serif;
    display:none;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
}


#next
{
	position:absolute;
	left:1200px;
	top:520px;
	background:  #FFBF00;

    color: #FFFFFF;
	opacity: 0.95;
}

#backgroundCateg
{
	
	height:180px;
	width: 270px;
	position: absolute;
	top: 315px;
	left: 785px;
	opacity: .85;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
	
	background:#E6E6E6;
	
}

#categoryTextBox
{
	height:30px;
	width: 180px;
	font-size:25px;
	position:absolute;
	left:830px;
	top:390px;
	font-family: "Blue Highway D Type" ,Arial,sans-serif;
}
#categoryChoice
{
	height:30px;
	width: 180px;
	font-size:25px;
	position:absolute;
	left:830px;
	top:340px;
	font-family: "Blue Highway D Type" ,Arial,sans-serif;
}

#amountLeft
{
	position: absolute;
	left:825px;
	top:80px;
	font-family: Veranda, Arial, Sans-Serif;
	font-size: 50px;
	
}

#addCategory
{
	background-color: #FFBF00;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 10px;
	color: #FFFFFF;
	font-family: Veranda, Arial, Sans-Serif;
	font-size: 17px;
	left:830px;
	top:440px;
}

#budgetTotal
{
	height:40px;
	width: 330px;
	font-size:30px;
	position: absolute;
	top: 5px;
	left: 30px;
	font-family: "Blue Highway D Type" ,Arial,sans-serif;
	
}

#enterAmount
{
	background: rgb(169,3,41); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
	height:55px;
	width: 55px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	position:absolute;
	left:910px;
	top:370px;
}

#ready
{
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); 
	background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
	background: rgb(169,3,41); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(169,3,41,1)), color-stop(44%,rgba(143,2,34,1)), color-stop(100%,rgba(109,0,25,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(169,3,41,1) 0%,rgba(143,2,34,1) 44%,rgba(109,0,25,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */

}

#twoWeek
{

	left:800px;
	top:190px;
	position:absolute;
	background: rgb(255,214,94); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */

}

#oneMonth
{
	
	position:absolute;
	left:800px;
	top:370px;
	background: rgb(255,214,94); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,214,94,1) 0%, rgba(254,191,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,214,94,1)), color-stop(100%,rgba(254,191,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,214,94,1) 0%,rgba(254,191,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */

}

#menu ul
{
	height: auto;
    padding: 8px 0px;
    margin: 0px;

}

#menu li
{
	display:inline;
	padding: 20px
}

#menu a 
{
    text-decoration: none;
    color: #EFEFFB;
    padding: 8px 8px 8px 8px;
}

#menu 
{
    width: 1350px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: right;
    background-color: #2E2E2E;
    border-radius: 8px;
}


