
button
{
	height: 120px;
    width: 120px;
    border-radius: 100%;
    display: inline-block;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
}

a 
{
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 8px 8px 8px;
}

#menu ul
{
	height: auto;
    padding: 8px 0px;
    margin: 0px;

}

#menu li
{
	display:inline;
	padding: 20px
}

#menu a 
{
    text-decoration: none;
    color: #EFEFFB;
    padding: 8px 8px 8px 8px;
}

#menu 
{
    width: 1350px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: right;
    background-color: #2E2E2E;
    border-radius: 8px;
}



#login
{
	position: absolute;
    margin: -10px 0 0 -8px;
    height: 200px;
    width: 230px;
    background-color: #82FA58;
    color: #FFFFFF;
	opacity: 0.75;
    font-family: Verdana, Arial, Sans-Serif;
    display:none;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
}

#welcomeMessage
{
	width: 267px;
	height: 180px;
	position: absolute;
	left:450px;
	top:300px;
}


#signUpButton
{
   background-color: #FFBF00;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    color: #FFFFFF;
    font-family: Veranda, Arial, Sans-Serif;
    font-size: 17px;
}

input
{
	height:30px;
	width: 180px;
	font-size:17px;
	position:absolute;
}

form
{
	position:absolute;
	left:775px;
	top: 310px;
	font-family: Verdana, Arial, Sans-Serif;
	color: #000;
	font-size: 15px;
}

#linkUpButton
{
    background-color:#848484;
	background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

#loginButton
{
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

#startButton
 {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10+,Safari5.1+ */
}
