.error {
  /* supply height to ensure consistent positioning for every browser */
  height:15px;
  background-color:#FFFE36;
  border:1px solid #E1E16D;
  font-size:11px;
  color:#000;
  padding:3px 10px;
  margin-left:-2px;
 

  /* CSS3 spicing for mozilla and webkit */
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius-bottomleft:0;
  -moz-border-radius-topleft:0;
  -webkit-border-bottom-left-radius:0;
  -webkit-border-top-left-radius:0;
 
  -moz-box-shadow:0 0 6px #ddd;
  -webkit-box-shadow:0 0 6px #ddd;
}

button
{
	background: #8258FA;
	height: 120px;
    width: 120px;
    border-radius: 100%;
    display: inline-block;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
}

linkRegistration
{
	background:#82FA58;
	width: 300px;
	position: absolute;
	height: 540px;
	left: 820px;
	top: 105px;
	opacity: .85;
}

input
{
	height:30px;
	width: 180px;
	font-size:17px;
	position:absolute;
}

form
{
	position:absolute;
	left:880px;
	top: 130px;
	font-family: Verdana, Arial, Sans-Serif;
	color: #000;
	font-size: 15px;
	
}

#signUpButton
{
   background-color: #FFBF00;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius:10px;
    color: #FFFFFF;
    font-family: Veranda, Arial, Sans-Serif;
    font-size: 17px;
}

#menu ul
{
	height: auto;
    padding: 8px 0px;
    margin: 0px;

}

#menu li
{
	display:inline;
	padding: 20px
}

#menu a 
{
    text-decoration: none;
    color: #EFEFFB;
    padding: 8px 8px 8px 8px;
}

#menu 
{
    width: 1350px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: right;
    background-color: #2E2E2E;
    border-radius: 8px;
}