
button
{
	height: 120px;
    width: 120px;
    border-radius: 100%;
    display: inline-block;
    color: #FFFFFF;
    font-family: Verdana, Arial, Sans-Serif;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
}

a 
{
    text-decoration: none;
    color: #FFFFFF;
    padding: 8px 8px 8px 8px;
}

form
{
	position:absolute;
	left: 820px; 
	top: 170px;
	font-family: Verdana, Arial, Sans-Serif;
	color: #FFF;
	font-size: 15px;
}

backDrop
{
	background: #283175;
	width: 400px;
	position: absolute;
	height: 100px;
	left: 800px;
	top: 150px;
	border-radius: 10px ;
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px 
}

#spent
{
	height:30px;
	width: 300px;
	font-size:20px;
	position:absolute;
	
}


#menu ul
{
	height: auto;
    padding: 8px 0px;
    margin: 0px;

}

#menu li
{
	display:inline;
	padding: 20px
}

#menu a 
{
    text-decoration: none;
    color: #EFEFFB;
    padding: 8px 8px 8px 8px;
}

#menu 
{
    width: 1350px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: right;
    background-color: #2E2E2E;
    border-radius: 8px;
}

#addSpent
{
	position:absolute;
	left:1130px;
	top:177px;
    color: #FFFFFF;
	height: 50px;
	width: 50px;
	line-height: 10px;
    font-size: 15px;
	background: #95E243;
	
}


